* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.caixa-maior {
    background-color: rgba(0, 0, 0, 0.8);
    width: 450px; /* Mesmo tamanho da caixa do Spotify */
    max-width: 450px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.caixa-maior:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo da caixa de pesquisa */
    color: #ffffff; /* Cor do texto */
    width: calc(100% - 50px);
    margin-right: 10px;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo da lupa */
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Cor de fundo da lupa quando hover */
}

.lupa {
    height: 20px;
    filter: invert(100%); /* Inverte a cor da lupa para branco */
}

.caixa-media {
    margin-top: 30px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cidade,
.temp,
.umidade,
.descricao {
    margin: 0;
    color: #ffffff; /* Cor do texto */
}

.cidade {
    font-size: 24px;
}

.temp {
    font-size: 20px;
}

.descricao {
    font-size: 16px;
    margin-left: 10px;
}

.umidade {
    font-size: 16px;
    margin-left: auto;
}
.caixa-maior {
    background-color: rgba(0, 0, 0, 0.8);
    width: calc(50% - 20px); /* 50% do container menos o espaço entre as caixas */
    max-width: 450px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.caixa-maior:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.spotify-titulo {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.spotify-player {
    display: flex;
    justify-content: center;
}